name: adaptive_dashboard
description: "A package for creating adaptive dashboards."
version: 0.0.2
homepage:

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# The following section is specific to Flutter packages.
flutter:
  # assets:
  #   - images/a_dot_burr.jpeg
